[Unit]
Description=Satellite Chum
After=network.target

[Service]
Type=simple
User=satellitechum
WorkingDirectory=/opt/satellite-chum
EnvironmentFile=/opt/satellite-chum/.env
Environment=PORT=6666
ExecStart=/opt/satellite-chum/satellitechum
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
